.material-icons {
    padding-top: 8px;
}

#empty-container {
    padding-top: 50px;
}

#empty-container-2 {
    padding-top: 60px;
}

body {
    background-color: #E5E5E5;
}

#form {
    padding-left: 4%;
}

#unionList {
    align-items: center;
}
